* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
}

/* set up woff font from ../public/fonts */
@font-face {
  font-family: "Space Mono";
  src: url("../public/fonts/0cf0e55cc0ef3777-s.p.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("../public/fonts/3e3cf2ee9aa3f174-s.p.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90rem;
}

.contentContainer {
  width: 70%;
}

h3 {
  color: #f6f4f0;
  font-family: DM Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3rem */
  margin-bottom: 2.6rem;
}

h4 {
  color: #e1d7c8;
  display: block;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  margin: 2rem 0;
}

p {
  color: #f6f4f0;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.375rem; /* 108.571% */
  margin-bottom: 1.5rem;
}
