.blogPostFilters {
  margin-bottom: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  position: relative;
}

.blogPostFilters label {
  color: #e1d7c8;
  display: block;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 155.556% */
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.blogPostFilters input {
  background-color: #282832;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0.5rem 0;
  color: #f6f4f0;
  font-family: DM Sans;
  width: 100%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.125rem; /* 141.667% */
  transition: 200ms all;
  margin-bottom: 0.3rem;
  width: 17.5rem;
}

.blogPostFilters input:hover {
  border-bottom: 1px solid #fff;
}

.blogPostFilters input:focus {
  outline: none;
}

.blogPostFilters input::placeholder {
  color: rgb(105, 105, 105);
}

.blogPostFilters button.filterConfirmButton {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -1rem;
  padding: 0.35rem;
  border-radius: 50%;
}

.blogPostFilters button.filterConfirmButton:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.blogPostGridHeadline {
  color: #f6f4f0;
  font-family: DM Sans;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3rem */
  margin-bottom: 2.6rem;
}

.blogPostGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 5.5rem;
}

.blogPostGrid article {
}

.blogPostGrid article.featuredBlogPost {
  grid-column: span 2;
  grid-row: span 2;
}

.blogPostGrid article .blogPostThumbnail {
  width: 100%;
  height: 15rem;
}

.blogPostGrid article.featuredBlogPost .blogPostThumbnail {
  height: 38rem;
}

.blogPostMeta {
  padding: 1rem;
}

.blogPostGrid article h4 {
  color: #f6f4f0;
  font-family: DM Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 120%; /* 1.5rem */
}

.blogPostGrid article h5 {
  color: #f6f4f0;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 0.9rem */
}

.blogPostGrid article.featuredBlogPost h4 {
  font-size: 2rem;
}
