.header {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../public/images/desert-background.jpg");
  padding: 1rem 0 3.75rem;
}

.mainNav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  padding: 1.25rem 0 1.25rem;
  transition: background-color 500ms, box-shadow 500ms;
}

.innerNavContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 90rem;
}

.scrolled {
  box-shadow: 0 1px 0px #3e3e46;
  background-color: #282832;
  width: 100%;
  transition: background-color 500ms, box-shadow 500ms;
  left: 0;
}

.mainNav nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.mainNav nav ul li {
  margin: 0 1.2rem;
  color: #fff;
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  line-height: normal;
  transition: all 150ms ease-in-out;
}

.mainNav nav ul li:hover {
  transform: translate(0, -0.2rem);
}

.mainNav nav ul li:hover a {
  color: #67ffff;
}

.mainNav nav ul li.buttonCta {
  text-align: center;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.mainNav nav ul li.buttonCta a {
  border-radius: 3.125rem;
  font-size: 1rem;
  padding: 1.25rem 2.5rem;
  background: #00d2d2;
  color: #282832;
  transition: all 150ms ease-in-out;
}

.mainNav nav ul li.buttonCta a:hover {
  background: #03b4b4;
}

.navLogo {
  width: 17.5rem;
  height: 3.3rem;
  flex-shrink: 0;
}

.pageTitleContainer {
  padding-top: 10rem;
}

.pageTitleContainer h2 {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 4.8rem */
}
